---
---

@import "{{ site.theme }}";

body, 
body header h1, 
body header h2, 
body h1, 
body h2, 
body h3,
pre, 
code
{
    font-family: "Source Code Pro", monospace !important; 
}

pre, 
code
{
    font-size:12px !important;
}

header h1 {
    font-weight: normal;
}

header {
    background: none;
    border-bottom: none;
    margin-bottom: 0px;
}
.container h1,
header h1,
h2:not(.description)
{
    color: #00cc00;    
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
}

h1, h2, h3, h4, h5, h6{
    color: #00cc00;    
}

header h1::before {
    content: "./";
}

.container {
    max-width: none;
}

h3 {
    padding-top:8px;
}

.description {
    font-size:20px;
}

a {
    color: #009900;
    text-decoration: none;
    text-shadow: none;
}

a:hover {
    color: #99ff99;
}